<div class="dashboard">
   <div class="dashboard-panel">
       <h3>Your devices</h3>
       <div ng-repeat="device in dashboardVm.devices">
           <p>{{ device.name }} | {{ device.id }} | <button ng-click="dashboardVm.toDevice(device.id)">Edit</button> </p>
           <p>Readings:</p>
           <div ng-repeat="reading in device.readings">{{ reading.type }} | {{ reading.current_value }}</div>
           <hr/>
       </div>
       <hr/>
       <div class="form-wrapper">
           <div><i>Define your new device</i></div>
           <form>
               <input type="text" placeholder="Serial number" ng-model="dashboardVm.newDevice.serial_number"/>
               <input type="text" placeholder="Name" ng-model="dashboardVm.newDevice.name"/>
               <input type="number" placeholder="Heartbeat" ng-model="dashboardVm.newDevice.heartbeat"/>
               <div>
                   <h2>Define readings for your device</h2>
                   <input type="text" placeholder="Type" ng-model="dashboardVm.readingForNewDevice.type"/>
                   <input type="number" placeholder="Current value" ng-model="dashboardVm.readingForNewDevice.current_value"/>
                   <button ng-click="dashboardVm.addReadingToDevice()">Add</button>
               </div>
               <div>
                   <h2>Currently defined readings for this device</h2>
                   <div ng-repeat="reading in dashboardVm.newDevice.readings">
                       <span>{{ reading.type }} | {{ reading.current_value }}</span>
                   </div>
               </div>
               <input type="submit" value="Add device" ng-click="dashboardVm.addDevice()"/>
           </form>
       </div>
   </div>
    <div class="dashboard-panel">
        <h3>Defined rules</h3>
        <div ng-repeat="rule in dashboardVm.rules">{{ rule.definition }}</div>
        <hr/>
        <div class="form-wrapper">
            <div><i>Define your new rule</i></div>
            <form>
                <input type="text" ng-model="dashboardVm.newRule.name"/>
                <textarea rows="25" cols="50" ng-model="dashboardVm.newRule.definition"></textarea>
                <input type="submit" value="Add rule" ng-click="dashboardVm.addRule()"/>
            </form>
        </div>
    </div>
</div>